*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.logo{
    width: 10%;
}

/* header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(100, 95, 71);
    padding: 2%;
}

main{
    background-color: rgb(136, 129, 101);
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(100, 95, 71);
    padding: 2%;
}