{% include('partiel/header.html.twig') %}

<main class="littleMain">

    <h1>Envoie d'article</h1>

    <!-- Penser à mettre le formulaire en method="post", sinon sa ne marchera pas -->
    <form method="post">
        <label><h2>Titre</h2>
            <input type="text" name="title">
        </label>
        <label><p>Contenue</p>
            <input type="text" name="content">
        </label>
        <input type="submit">
    </form>

    {% if isRequestOk %}
        <p id="articleEnregistrer">L'article a été enregistré avec succès</p>
    {% endif %}

</main>

{% include('partiel/footer.html.twig') %}