{% include('partiel/header.html.twig') %}

<main class="littleMain">

    <h1>Le super blog</h1>

    <article id="showArticle">
        <h2>{{ article.title }}</h2>
    </article>

</main>

{% include('partiel/footer.html.twig') %}